*{
    margin: 0;
}

h1{
    background-color: yellow;
    text-align: center;
    width: 50%;
    margin: auto;
}

   
p{
    border: 1px solid red;
    margin: 20px 40px 20px 40px;
    margin-top: 40px;
    margin-right: 20px;
    margin-bottom: 40px;
    margin-left: 20px;
    width: 400px;
    margin: 0 auto;
    padding: 20px;
}

.first_paragraph{
    box-sizing: content-box;
} 

.second_paragraphхххх{
    box-sizing: border-box;
}

