*{
    padding: auto;
    margin: 0px;
    box-sizing: border-box;
}

header{
    height: 150px;
    background: linear-gradient(180deg, rgba(0,36,36,1) 0%, rgba(9,121,101,1) 35%, rgba(0,212,255,1) 72%);
}
.container{
    width: 300px;
    margin: 0 auto;
    position: relative;
}
.container .box{
    width: 100px;
    height: 200px;
    background-color: yellow;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
}
.container .col{
    width: 100px;
    height: 200px;
    background-color: rgb(29, 214, 22);
    position: absolute;
    left: 20px;
    top: 0;
    z-index: 1;
}

}
.block{
    width: 87%;
    height: 800px;
    background-color: #fa1414;
    margin: 100px auto;
    display: flex;

    
}
.block .box{
    color: #a3cc0d;
    background: rgb(31, 11, 145);
    height: 150px;
    width: 100px;
    margin: 20px;
    flex-grow: 1;
}
.first, .second{
    width: 100px;
    height: 100px;
    
}
.first{
    background: orange;
}
.second{
    background: violet;
}


.block .box:first-child, .block .box:last-child{
    background-color: #000;
    flex-grow: 2;
}
.round{
    margin: 50px;
    width: 75px;
    height: 75px;
    background: green;
    position: fixed;
    bottom: 40px;
    top: 30px;
    /* border-radius: 50%; */

}