*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

form{
    width: 50%;
    padding: 20px;
    margin: 100px auto;
    border: 2px solid red;
    border-radius: 20px;
}
#login{
    background-color: pink;
    }
    
.text{
    background-color: #000;
    }